[Unit]
Description=mount mirsella google drive with rclone 
After=network.target

[Service]
Type=simple
User=mirsella
ExecStartPre=-mkdir ~/Documents/gdrive
ExecStart=rclone mount gdrive: ~/Documents/gdrive
ExecStop=/bin/fusermount -u ~/Documents/gdrive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
