[Unit]
Description=mount mirsella google drive with rclone 
After=network.target

[Service]
Type=simple
User=mirsella
ExecStartPre=-mkdir /home/mirsella/Documents/gdrive
ExecStart=rclone mount gdrive: /home/mirsella/Documents/gdrive
ExecStop=/bin/fusermount -u /home/mirsella/Documents/gdrive
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
