[Unit]
Description=vnc server 
After=network-online.target

[Service]
Type=exec
User=mirsella
ExecStart=x11vnc -display :0 -forever -ncache 10 -rfbauth /home/mirsella/.config/vnc/passwd
Restart=always

[Install]
WantedBy=multi-user.target
